* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

#showcase {
    padding: 20px 120px 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

#main-header,
a,
#showcase-content {
    color: #fff;
}

#navbar li:not(:last-of-type) {
    margin-right: 15px;
}

#showcase-content {
    padding: 50px 0;
    display: flex;
}

#showcase-content h3 {
    font-size: 50px;
    margin-bottom: 15px;
}

#showcase-content p {
    color: #c9c9c9;
    margin-bottom: 30px;
}

#btn,
#btn2 {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

#showcase-img {
    width: 1000px;
    height: 300px;
}

#showcase-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#testimonials {
    padding: 100px 250px;
    background-color: #c9c9c9;
}

#testimonials-wrapper blockquote p:first-child {
    font-size: 25px;
    font-style: italic;
}

#testimonials-wrapper blockquote p:last-of-type {
    text-align: end;
    font-weight: bold;
}

#call-to-action {
    padding: 50px 120px;
}

#call-to-action-wrapper {
    background-color: #6282ed;
    color: #fff;
    padding: 50px 120px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#call-to-action-wrapper h4 {
    font-size: 20px;
}

#call-to-action-wrapper p {
    color: #c9c9c9;
}

#btn2 {
    border: 2px solid #fff;
    background: none;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}